/* GENERAL STYLES */

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    padding: 5% 0;
}


/* CONTENT */

#main-container {
    display: flex;
    background-color: hsl(244, 38%, 16%);

}

#information {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
}



/* TEXT CONTENT */
.information-text {
    width: 70%;
}

.accent-text {
    color: hsl(277, 64%, 61%);
}

.stats-text {
    font-family: 'Lexend Deca', sans-serif;
}

.information-text > ul {
    display: flex;
    flex: row;

    list-style-type: none;
    padding-inline-start: 0;
}

/* IMAGE */

#image {
    display: flex;
}






